body {
    font-family: Arial, sans-serif;
    margin: 30px;
}

.caja {
    width: 200px;
    height: 100px;
    background-color: lightgray;
    margin: 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

img {
    width: 150px;
    display: block;
    margin: 15px 0;
}

a {
    display: block;
    margin-bottom: 15px;
}

button {
    padding: 8px 15px;
    cursor: pointer;
}
