#principal {
  display: inline-flex;
  color: #145f81;
  border-right-color: #145f81;
  list-style: none;
  padding: 0;
  margin: 0;
}

#principal li {
  border-right: solid;
  border-width: 1px;
  border-right-color: #145f81;
  font-family:Arial, Helvetica, sans-serif;
  position: relative;
  padding: 8px;
}

#desplegable {
  display: none;
  list-style: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0;
  margin: 0;
}

#principal li:hover #desplegable {
  display: block;
}
#principal #desplegable li {
  border-right: none;
  border-bottom: solid;
  border-bottom-color: #145f81;
  border-width: 1px;
  width: 100px;
}

